
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading 
                    <h1 class="h3 mb-2 text-gray-800">Group</h1>-->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Profiles & Groups</h6>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <div id="dataTable_wrapper" class="dataTable_wrapper dt-bootstrap4">
                               
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                            <div  class="input-group">
                                               <!-- <label>
                                                 <input type="search"  class="form-control bg-light border-0 small"    aria-label="Search" aria-describedby="basic-addon2"
                                                 placeholder="Search" aria-controls="dataTable" [(ngModel)]="searchQuery" (input)="searchUsers()">
                                                </label>-->
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button">
                                                        <i class="fas fa-search fa-sm"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-container" style="overflow-x: scroll; width: 100%; max-width: 100%;">
                                        <table class="table table-bordered" id="dataTable">
                                            <thead>
                                                <tr>
                                                  <!--<th>Profile ID</th>-->
                                                  <th>Profile title</th>
                                                  <th>Group Name</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr *ngFor="let item of profilesAndGroups">
                                                  <!--<td>{{ item.profileId }}</td>-->  
                                                  <td>{{ item.profileTitre }}</td>
                                                  <td>{{ item.groupName }}</td>
                                                </tr>
                                              </tbody>
                                        </table>
                                
                                    </div>
                                </div>
                             
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!-- /.container-fluid -->

         